* {
  border: 1px solid red; /*не забыть убрать*/
}

body {
    margin: 0;
    background-color: rgb(84, 111, 20);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
  h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  p {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}
.content-section {
  box-sizing: border-box;
  width: 360px;
  margin-left: auto;
  margin-right: auto;

}

.content-section_theme_dark {
  background-color: #131313;
  color: #F5F5F5;

}

.content-section_theme_bright {
  background-color: #FEE42A;
  color: #131313;
  margin-left: auto;
  margin-right: auto;
 
}

.header {
padding: 24px 20px 24px 20px;
display: flex;
flex-direction: row;
justify-content: space-between;
height: 132px;
}

.cover {
padding-top: 7;
padding-left: 20px;
min-height: 228px;
background-image: url(../images/cover.svg);
background-size: 95%;
background-repeat: no-repeat;
background-position: right;
}

.intro {
padding: 30px 20px 38px 20px;

/*height: 521px;*/

}

.reasons {
padding: 40px 20px 40px 20px;
height: 1368px;
}

.how-to {
padding-top: 40px 20px 60px 20px;

height: 1849px;
}

.footer {
padding-top: 60px 20px 0 20px;

height: 62px;

}

.header__logo {
display: flex;
}

.header__logo-image {
  weight: 78.45px;
  height: 15.43px;
}

.header__menu {
display: flex;
width: 75px;
height: 84;

}

.header__menu-list {
display: flex;
flex-direction: column;
row-gap: 12px;
align-items: flex-start;
font-family: 'Inter', 'Arial', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
}

.header__menu-item {
text-decoration: none;
color: #F5F5F5; 
}

.header__menu-item_active {
text-decoration: underline;
color: #F5F5F5; 
}

.header__menu-link {
color: #F5F5F5;  
text-decoration: none;
}

.cover__title {
color: #FFF;
font-family: 'EB Garamond';
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: 100%;

}

.accent-span {
display: block;
}

.text-center {
text-align: center;
}

.text-right {
text-align: right;

}

.intro-heading {
display: flex;


justify-content: space-between;

}

.intro__title {

color: #CCC;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}

.intro__date {

white-space: nowrap;
color: #CCC;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}

.intro__main-text {
display: flex;
flex-direction: column;
padding-top: 24px;
row-gap: 24px;
width: 320px;
color: #F5F5F5;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 21.6px;

}